<template>
  <v-card>
    <v-card-title>Question</v-card-title>
    <v-card-text>
      {{ question }}
    </v-card-text>
  </v-card>
</template>

<script>
import {api} from '@/api'

  export default {
    name: 'HelloWorld',
    data: () => ({
      question: null,
    }),
    async mounted() {
      this.question = await api.get('/data')
    }
  }
</script>
