<template>
  <QuestionComponent />
</template>

<script>
  import QuestionComponent from '../components/QuestionComponent'

  export default {
    name: 'Home',

    components: {
      QuestionComponent,
    },
  }
</script>
